# These are the maintainers in the repo 
# We require at least two maintainers to sign off on a new term

* @seokho-son @yunkon-kim


# These are the approvers for `/dist/img/` directory
/dist/ @yunkon-kim @seokho-son
